<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<section class="wallpaper">
   <!-- <h1>Avera yaso</h1><p>online shopping</p>-->
   <!-- <div appParallax [ratio]="2" class="wall" style="margin-top: 10px;" id="wall"></div>-->
     <img src="https://images.pexels.com/photos/859205/pexels-photo-859205.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
   <div>
    <h1>Be Bold, Be Beautiful, Be You :</h1>
    <h1>Shop Our Exclusive Fashion Deals.</h1>
    <p>Save up to 50% on selected items and get a free gift with every purchase.</p>   
    </div>
</section>
<section class="category" routerLink="/CategoryPreviews/Clothing">
<div class="women">
    <img src="https://images.pexels.com/photos/3046336/pexels-photo-3046336.jpeg?auto=compress&cs=tinysrgb&w=1600" href="/CategoryPreviews/ManClothing">
    <h3 >women</h3>
    <h4>Shop the latest trends for women</h4>
</div>
<div class="men" routerLink="/CategoryPreviews/ManClothing">
    <img src="https://images.pexels.com/photos/157675/fashion-men-s-individuality-black-and-white-157675.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
    <h3>men</h3>
    <h4>Men’s fashion essentials</h4>
</div>
<div class="children" routerLink="/ProductLists/Girls">
    <img src="https://images.pexels.com/photos/4450326/pexels-photo-4450326.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
    <h3>kids</h3>
    <h4>Cute outfits for kids</h4>
</div>
<div class="toys" routerLink="/ProductLists/Toys">
    <img src="https://images.pexels.com/photos/298825/pexels-photo-298825.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
    <h3>toys</h3>
    <h4>Toys for all ages</h4>
</div>
</section>