<nav>
    <div class="container">
      <div class="icon">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKpJREFUSEtjZKAxYKSx+Qz0s+D94c0ODP8Z5zMw/FegyFf/GS4wMDEUCtr6HgCZA/fB+0ObHzAwMMhTZDhcM+NGQTufAHQL/lPHcIgpgna+YMcj+2CYWADzGiy43h/aDPYZueIYQUSuQbgcNGoBwbgZDaLRIGJgoGJO3vSBgYGRn0ol6kFBO18H1NIUXOEwLKBCnfCQgZkpQNDa+wKKBVRyOYYx9KuTaeUDAMZh1hkp175xAAAAAElFTkSuQmCC"/>
        <h3>Asug</h3><h1>w</h1><h3>azo</h3>
      </div>
      <ul class="mianu">
    <li><a>HOW IT WORKS</a></li>
    <li type="button" (click)="work()"><a>WORKFLOWS </a>
      <div id="dropdown" class="dropdown">
    <a>Audio Console</a>
    <a>Photo Console</a>
    <a>Video Console</a>
    <a>Mini Console</a>
      </div>
    </li>
    <li><a>DOWNLOAD</a></li>
    <li><a>BLOG</a></li>
    <li><a>SUPPORT</a></li>
    <li><a>SHOP</a></li>
    <div class="cart"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXFJREFUSEvNlD1SAkEQhd+IufQN8ARCbDFILINyAjHVQDmBeAJJNBVPgDIYI0MZiydQTzBr7jrWClID7s5uAWvZaXf116//GFI2lnJ+/B1AK2kmajzAtIlXG6tQN1VgAcZ5GcpUFA/LQn61SKveKWAuAHZHvLK/ekC/k0VmXX8n9j82qVx7XQYSOmStZBvAwcKJDUZUEoVxp0NMP97n4X8+LQwA3oiLXCQgcGglRwC2AHNIvBooirWpcoNzKolmDKBbB9g1LLkugh7P7gVA1p6d89C06noA20BmrUDbu4GiSNNqUhAwIC52fgLdgKFsweAEwA1xUXcDZHAzpfmWugH9Tm4iO1hZonLNC12KaZx5h+/n7LjYX6RV7xYwewBrEK+0QgED2QTDWZjSBAAZXHMndoUi3kssYHZlnZhn4iI/H5EIkKj6iKBEAG/YuzTGHDHGrrLFyrGdy+VzHpqdxH7lxMVMUS5fYkDqClKfwb8GfAHQtaIZlXvWDwAAAABJRU5ErkJggg=="/><a>USD^</a></div>
      </ul>
    </div>  
  </nav>